*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
prototype_deployement/models_CV/*.pt filter=lfs diff=lfs merge=lfs -text
prototype_deployement/models_CV/*.zip filter=lfs diff=lfs merge=lfs -text
